node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

dist
build
.out
.next
coverage

*.config.js
*.config.cjs
*.config.mjs
*.config.ts
*.config.json

logs
*.log
.env
.env.local
.env.development
.env.production

public
static

**/generated/*
**/__generated__/*
