node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock


dist
build
.out
.next
coverage


.env
.env.local
.env.development
.env.production


logs
*.log


*.min.js
*.min.css
*.map
public
static


routeTree.gen.ts